.container {
  margin: 8px;
}

body {
  background-color: #f2f2f2;
}

.sidebar {
  float:left;
  width:10%;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  font-size: 12px;
}

.sidebar > img {
  width:100%;
  margin-bottom: 20px;
}

h3 {
  font-size: 12px;
  font-weight: normal;
}

a {
  color: #003db7;
}

.sidebar > h3 {
  border-bottom: 0.5px solid #bababa;
  width: 90%;
  padding-bottom: 5px;
}

#list {
  font-weight: bold;
}
