.container {
  margin: 1%;
}

body {
  background-color: #f2f2f2;
  font: helvetica;
}

.sidebar {
  float:left;
  width:10%;
}

.sidebar > ul {
  list-style: none;
  padding-left: 0;
}

li {
  font-size: 12px;
}

.top-menu {
  position: fixed;
  float: right;
  right:0;
}

.top-menu > ul {
  list-style-type: none;
  color: #a5a5a5;
}

.top-menu > ul > li {
  display: inline;
  padding: 5px;
}

.top-menu > ul > li > img {
  width: 20px;
}

.sidebar > img {
  width:100%;
  margin-bottom: 20px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 12px;
  font-weight: normal;
}

h4 {
  font-size: 11px;
  font-weight: normal;
}

a {
  color: #003db7;
}

.sidebar > h3 {
  border-bottom: 0.5px solid #bababa;
  width: 90%;
  padding-bottom: 5px;
}

.list {
  font-weight: bold;
}

.tab {
  list-style-type: none;
  padding-top: 5%;
  padding-left: 14%;
}

ul.tab > li {
  display: inline;
  padding: 5px;
}

.well {
  margin: 5px;
}

.main-body {
  background-color: white;
}

.main {
  width: 85%;
  position:fixed;
  right: 10px;
}

.col-md-9 {
  text-align: center;
  width: 30%;
}

.col-md-1 {
  float: right;
  position:relative;
  padding-right: 10%;
}

#today {
  background-color: #e5ffed;
}

#news {
  background-color: #e2edff;
}

#know {
  background-color: #e5ffed;
}

#day {
  background-color: #e2edff;
}

.col-md-7 {
  box-sizing: border-box;
  padding:20px;
}

.col-md-5 {
  box-sizing: border-box;
  padding:20px;
}

#today > img {
  float: left;
  padding: 12px;
}

#news > img {
  float: right;
  padding: 12px;
}

.col-md-5 {
  padding-left: 0px;
}
